@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix" style="background-color: #d1dea8; padding-bottom: 0px; padding-top: 2px;" id="divIntestazione">
            <div class="col-lg-7 col-md-7 col-sm-7" style="padding:0px;">
                <input class="form-check-input" type="checkbox" id="ckFemmina" onclick="popolaBovini()"> <label class="form-check-label" for="ckFemmina" style="color:blue; margin-right:5px;">Femmine</label>
                <input class="form-check-input" type="checkbox" id="ckMaschi" onclick="popolaBovini()"> <label class="form-check-label" for="ckMaschi" style="color:blue; margin-right:5px;">Maschi</label>
                <input class="form-check-input" type="checkbox" id="ckManze" onclick="popolaBovini()"> <label class="form-check-label" for="ckManze" style="color: blue; margin-right: 5px;">Manze</label>
                <input class="form-check-input" type="checkbox" id="ckLattazione" onclick="popolaBovini()"> <label class="form-check-label" for="ckLattazione" style="color: blue; margin-right: 5px;">Lattazione</label>
                <input class="form-check-input" type="checkbox" id="ckAsciutta" onclick="popolaBovini()"> <label class="form-check-label" for="ckAsciutta" style="color: blue; margin-right: 5px;">Asciutta</label>
                <input class="form-check-input" type="checkbox" id="ckVendute" onclick="popolaBovini()"> <label class="form-check-label" for="ckVendute" style="color: blue; margin-right: 5px;">Vendute</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2" style="padding: 0px;">
                <input type="text" name="criteria" class="form-control" placeholder="Ricerca Libera" onchange="cercaText(this)" onkeyup="this.onchange();" id="txtRicercaLibera" style="height:25px;">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 ">
                <button type="button" class="btn btn-success" style="background-color: #242042; padding: 2px 4px;" onclick="popolaBovini();"><i class="glyphicon glyphicon-search" style="font-size:12px;"></i></button>
            </div>
            @*<div class="pull-right" id="btnNewBovino">*@
            <div class="col-lg-2 col-md-2 col-sm-2" style="padding: 0px;">
                <button class="btn btn-primary" style="border-radius: 15px; outline: none; padding: 3px 12px;" onclick="NewBovino()">Nuovo Bovino</button>
            </div>
        </div>
        <div class="panel-body" style="height: 300px; overflow-y: auto;">
            <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px 5px 0px 0px;">
                <table class="table table-striped table-bordered dt-responsive nowrap" id="dtGrdBoviniList" style="font-size: 9px !important;">
                    <thead>
                        <tr style="font-size: 9pt !important; font-weight:bold;">
                            <td class="text-center" data-toggle="tooltip" data-placement="top" title="Matricola USL">Mtr.USL <span class="badge"><label id="lblNumRecordBovini" style="margin-top: 0px; margin-bottom: 0px;">0</label></span></td>
                            <td class="text-center" data-toggle="tooltip" data-placement="top" title="Nata il">Nata il</td>
                            <td class="text-center" data-toggle="tooltip" data-placement="top" title="Sesso">S</td>
                            <td class="text-center" data-toggle="tooltip" data-placement="top" title="Data ultimo parto">Ult. Parto</td>
                            <td class="text-center" data-toggle="tooltip" data-placement="top" title="Numero mesi dall'ultimo parto'">MesiUltimoParto</td>
                            <td class="text-center" data-toggle="tooltip" data-placement="top" title="Data ultimo salto">Ult. Salto</td>
                            <td class="text-center" data-toggle="tooltip" data-placement="top" title="Numero di giorni dall'ultimo salto'">GG S</td>
                            <td class="text-center" data-toggle="tooltip" data-placement="top" title="Data di messa in asciutta">Ult. Asc</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>


        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4" style="padding:0px;">
        <div class="panel panel-success">
            <div class="panel-heading"><strong>Prossimi Salti <span class="badge"><label id="lblNumRecordProssimiSalti" style="margin-top: 0px; margin-bottom: 0px;">0</label></span></strong></div>
            <div class="panel-body" style="height: 300px; overflow-y: auto;">
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px 5px 0px 0px;">
                    <table class="table table-striped table-bordered dt-responsive nowrap" id="dtGrdProssimiSalti" style="font-size: 9px !important;">
                        <thead>
                            <tr style="font-size: 9pt !important; font-weight:bold;">
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="Matricola USL">Mtr.USL <span class="badge"><label id="lblNumRecordBovini" style="margin-top: 0px; margin-bottom: 0px;">0</label></span></td>
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="MesiEta">EtaM</td>
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="Giorni Ultimo Parto">PartoG</td>
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="1 = Manza - 0 = Vacca">MV</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" style="padding:0px;">
        <div class="panel panel-success">
            <div class="panel-heading"><strong>Prossimi Parti <span class="badge"><label id="lblNumRecordProssimiParti" style="margin-top: 0px; margin-bottom: 0px;">0</label></span></strong></div>
            <div class="panel-body" style="height: 300px; overflow-y: auto;">
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px 5px 0px 0px;">
                    <table class="table table-striped table-bordered dt-responsive nowrap" id="dtGrdProssimiParti" style="font-size: 9px !important;">
                        <thead>
                            <tr style="font-size: 9pt !important; font-weight:bold;">
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="Matricola USL">Mtr.USL <span class="badge"><label id="lblNumRecordBovini" style="margin-top: 0px; margin-bottom: 0px;">0</label></span></td>
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="DataParto">DataP</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" style="padding:0px;">
        <div class="panel panel-success">
            <div class="panel-heading"><strong>Prossime Asciutte <span class="badge"><label id="lblNumRecordProssimeAsciutte" style="margin-top: 0px; margin-bottom: 0px;">0</label></span></strong></div>
            <div class="panel-body" style="height: 300px; overflow-y: auto;">
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px 5px 0px 0px;">
                    <table class="table table-striped table-bordered dt-responsive nowrap" id="dtGrdProssimeAsciutte" style="font-size: 9px !important;">
                        <thead>
                            <tr style="font-size: 9pt !important; font-weight:bold;">
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="Matricola USL">Mtr.USL <span class="badge"><label id="lblNumRecordBovini" style="margin-top: 0px; margin-bottom: 0px;">0</label></span></td>
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="Data da mettere in asciutta">DataA</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/personal/cowBoyHome.js"></script>